<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Display Image</title>
</head>
<body>
  <img id="image" src="<%= imageSrc %>" alt="Example Image">
  <button onclick="sendData()">Send Data</button>
  <script >
const socket = new WebSocket('ws://localhost:3000');

    socket.addEventListener('message', (event) => {
      const imageUrl = event.data;
      document.getElementById('image').src = imageUrl;
    });
    
    function sendData() {
        socket.send('qrcode');
    }
  </script>
</body>
</html>
