<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Rendering</title>
</head>
<body>
    <img src="<%= src %>" alt="QR Code">
</body>
</html>
